@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.pocoyo{
    visibility: hidden;
    position: absolute;
    display: block;
    width: 200px;
    left: 0;
    bottom: 0px;
    transform: translateX(10px);
    animation: salir 5s linear;
}

.pocoyo2{
    visibility: hidden;
    position: absolute;
    width: 150px;
    bottom: 0px;
    left: 10px;
    transform: translateX(0px);
    animation: pocoyo 8s linear;
    animation-delay: 5s;
}

.pocoyo3{
    position: absolute;
    width: 130px;
    bottom: 25px;
    left: 800px;
    visibility: hidden;
    animation: pocoyo2 10s linear infinite;
    animation-delay: 13s;
}

.avion{
    visibility: visible;
    position: absolute;
    width: 200px;
    top: 0;
    transform: translateX(-200px);
    animation: avion 8s linear;
    animation-delay: 14s;
}

.Entrega{
    visibility:hidden;
    position: absolute;
    width: 200px;
    transform: translateY(80px);
    left: 848px;
    animation: entrega 8s linear;
    animation-delay: 21s;
}

.regalo{
    display: table;
    visibility:hidden;
    position: absolute;
    width: 150px;
    bottom: 10px;
    left: 880px;
    transform: rotate(5deg);
    animation: regalo 1s linear infinite;
    animation-delay:29s; 
    cursor: pointer;
}

@keyframes salir {
    0%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes pocoyo{
    0%{
        visibility: hidden;
        transform: translateX(0px);
    }
    50%{
        visibility: visible;
        transform: translateX(800px);
        
    }
    100%{
        transform: translateX(800px);
        visibility: hidden;
    }
}

@keyframes pocoyo2{
    0%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    100%{
        visibility: visible;
    }
}

@keyframes avion{
    0%{
        visibility: visible;
        transform: translateX(-200px);
    }
    100%{
        visibility: hidden;
        transform: translateX(1000px);
        
    }
}

@keyframes entrega{
    0%{
        visibility: hidden;
        transform: translateY(80px);
    }
    50%{
        visibility: visible;
        transform: translateY(430px);
    }
    100%{
        visibility: visible;
        transform: translateY(430px);
    }
}

@keyframes regalo{
    0%{
       transform: rotate(5deg);
        visibility: hidden;
    }
    50%{
      transform: rotate(-4deg);
        visibility: visible;
    }
    100%{
        transform: rotate(4deg);
        visibility: visible;
    }
}

.modal{
    display:none;
    position: absolute;
    width: 500px;
    height: 300px;
    background: #111;
    top: 100px;
    left: 390px;
    border-radius: 15px;
}

#icono{
    position: absolute;
    font-size: 20px;
    color: #fff;
    left: 5px;
    cursor: pointer;
    top: 8px
}

.title{
    display: none;
    font-size: 48px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Pacifico';
}

.globo_rosa{
    position: absolute;
    bottom: 0;
    left: -20px;
    animation: globo 8s infinite;
}

.globo_azul{
    position: absolute;
    width: 95px;
    height: 250px;
    bottom: 0;
    left: 230px;
    animation: globo2 10s infinite;
}

.globo_rojo{
    position: absolute;
    width: 235px;
    bottom: 0px;
    left: 350px;
    animation: globo3 11s infinite ease;
}

.globo_azul2{
    position: absolute;
    width: 85px;
    height: 200px;
    bottom: 0;
    left: 340px;
    animation: globo2 12s infinite;
}


.globo_azul3{
    position: absolute;
    width: 85px;
    height: 200px;
    bottom: 0;
    left: 145px;
    animation: globo4 8s infinite;
}

.globo_rojo2{
    position: absolute;
    width: 235px;
    bottom: 0px;
    left: 540px;
    animation: globo3 12s infinite ease;
}

.globo_azul4{
    position: absolute;
    width: 85px;
    height: 200px;
    bottom: 0;
    left: 750px;
    animation: globo2 14s infinite;
}

.globo_azul5{
    position: absolute;
    width: 85px;
    height: 200px;
    bottom: 0;
    left: 850px;
    animation: globo4 9s infinite;
}

.globo_rosa2{
    position: absolute;
    bottom: 0;
    left: 940px;
    animation: globo 10s infinite;
}


.globo_rosa3{
    position: absolute;
    bottom: 200px;
    left: 1080px;
    animation: globo 10s infinite;
}
@keyframes globo{
    from{
        bottom:0;
        opacity: 0;
    }
    to{
        bottom: 380px;
        
    }
}

@keyframes globo2{
    from{
        bottom: 0px;
        opacity:0;
    }
    to{
        bottom: 200px; 
    }
}

@keyframes globo3{
    from{
        bottom: 150px;
        opacity: 0;
    }
    to{
        bottom: 340px;
    }
}


@keyframes globo4{
    from{
        bottom: 200px;
        opacity: 0;
    }
    to{
        bottom: 400px;
    }
}


@media screen and (min-width:360px){
   
.pocoyo{
    visibility: hidden;
    position: absolute;
    display: block;
    width: 150px;
    left: 0;
    bottom: 0px;
    transform: translateX(10px);
    animation: salir 5s linear;
}

.pocoyo2{
    visibility: hidden;
    position: absolute;
    width: 120px;
    bottom: 0px;
    left: 10px;
    transform: translateX(0px);
    animation: pocoyo 8s linear;
    animation-delay: 5s;
}

.pocoyo3{
    position: absolute;
    width: 100px;
    bottom: 25px;
    left: 180px;
    visibility: hidden;
    animation: pocoyo2 10s linear infinite;
    animation-delay: 13s;
}
@keyframes pocoyo{
    0%{
        visibility: hidden;
        transform: translateX(0px);
    }
    50%{
        visibility: visible;
        transform: translateX(180px);
        
    }
    100%{
        transform: translateX(180px);
        visibility: hidden;
    }
}

@keyframes avion{
    0%{
        visibility: visible;
        transform: translateX(-200px);
    }
    100%{
        visibility: hidden;
        transform: translateX(200px);
        
    }
}
    
.regalo{
    width: 80px;
    bottom: 35px;
    left: 260px;
    transform: rotate(5deg);
    animation: regalo 1s linear infinite;
    animation-delay:29s; 
    cursor: pointer;
}

.Entrega{
    width: 90px;
    top: 60px;
    transform: translateY(40px);
    left: 248px;
    animation: entrega 8s linear;
    animation-delay: 21s;
}  
    

@keyframes entrega{
    0%{
        visibility:hidden;
        top: 60px;
    }
    50%{
        visibility: visible;
        top:60%;
    }
    100%{
        visibility: visible;
        top:60%;
    }
    
}
    .modal{
        left:10px;
        top: 78px; 
        width: 95%;
        border-radius:0px;
        box-shadow: 0px 0px 10px #111;
        opacity: 0.5;
    }
    
    #icono{
        background: #111;
        color: #fff;
    }
    .title{
       font-size: 38px;
       text-shadow: 0px 0px 10px #111;
    }
    
    .title-mensaje{
        position: absolute;
        width: 100%;
    }
    
    .globo{
        display: none;
    }

    .globo_rosa{
        width: 145px;
    }
    .globo_azul{
        width: 50px;
        height: 140px;
        left: 80px;
    }
    .globo_rojo{
        animation: globo3 6s infinite;
        width: 145px;
        left: 130px;
    }
    .globo_azul2{
        width: 80px;
        left: 180px;
    }
    
    .globo_azul3{
        animation: globo 10s infinite;
        left: 110px;
    }
    
    .globo_rojo2{
       display: none;
    }
    
    .globo_rosa3{
        width: 80px;
        left:260px; 
        animation: globo 20s infinite;
    }

    .globo_azul4{
        display: none;
    }

    .globo_azul5{
        display: none;
    }

    .globo_rosa2{
        display: none;
    }
    
@keyframes globo{
    from{
        bottom:0;
        opacity: 0;
    }
    to{
        bottom: 450px;
        
    }
}

@keyframes globo2{
    from{
        bottom: 0px;
        opacity:0;
    }
    to{
        bottom: 350px; 
    }
}

@keyframes globo3{
    from{
        bottom: 100px;
        opacity: 0;
    }
    to{
        bottom: 250px;
    }
}

@keyframes globo4{
    from{
        bottom: 90px;
        opacity: 0;
    }
    to{
        bottom: 430px;
    }
}


}